*,
*::before,
*::after {
	box-sizing: border-box;
}
.countup {text-align:center;font-family:sans-serif; font-size:50px;}
.fit {width:100%; max-width:100%; height:auto; object-fit:contain;}
.has-cobalt-background-color { background-color: #0000aa;}
.has-cobalt-color { color: #0000aa;}
.has-aqua-background-color { background-color: #00bfba;}
.has-aqua-color { color: #00bfba;}
.has-white-background-color { background-color: #ffffff;}
.has-white-color { color: #ffffff;}
.has-yellow-background-color { background-color: #ffca05;}
.has-yellow-color { color: #ffca05;}
.has-salmon-background-color { background-color: #0000aa;}
.has-salmon-color { color: #0000aa;}
.has-lightgray-background-color { background-color: #f8f8f8;}

body {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	color: #000;
	background: #fff;
	font-family: 'Source Sans Pro',sans-serif;
}

p { 
	font-size: 20px;
	line-height: 1.6;
}

a {
	text-decoration: none;
}

a:hover {
	color: #cb4335;
}

h1, h2{
	font-family: 'Unna', serif;
	font-weight: normal;
	color: #0000aa;
}

h3, h4{
	color: #0000aa; font-size:20px; font-weight:bold; line-height:20px;
}

h1 {
	margin-top: 0;
	font-size: 60px;
}

h2 {
	font-size: 45px;
}

.site-header {
	position: sticky;
	top:0;
	background-color:white;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0;
	margin-bottom: 35px;
}

.site-title {
	margin: 0;
	font-size: 1.4rem;
}

.main-navigation .menu {
	list-style: none;
	margin: 0;
	padding: 0;	display: flex;
	font-transform: uppercase;
}
#hamburger {display:none;}

@media screen and (max-width: 600px){
	.main-navigation .menu {display:none;}
	#hamburger {display:block;}
	.site-content {padding:1em;}
}

.main-navigation .menu a {
	display: block;
	color: #666;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}

/* dropdowns */

.main-navigation ul {padding-inline-start:0;}

.main-navigation ul ul {
    display: none;
}
.main-navigation ul li:hover > ul {
    display: block;
}
.main-navigation ul ul {
    display: none;
    position: absolute;
    top: 2em;
	border-top: 2px solid #0000aa;
	padding-top: 1em;
	width: 150px;
    list-style-type:none;
    left: 0;
    z-index: 99999;
    width: 150px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}
.main-navigation li {
    position: relative;
}

.site-content {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
}

.site-footer {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 15px;
	background: white;
	border-top: 1px solid #e8e8f0;
}

.entry {
	margin-bottom: 35px;
}

.entry-header a {
}

.button, .wp-block-button__link {border-style:solid; border-width:2px; border-color: #0000aa; padding:10px 17px; 
	font-size:15px; font-weight:bold; color:#0000aa; text-transform:uppercase; background-color:white; border-radius:0;}
.button:hover, .wp-block-button__link:hover {background-color: #0000aa; color:white;}
.actionbar {width:100%; font-family:Unna; background-color:#0000aa; color:white; font-size: 30px; padding:30px; text-align:center;}
.button2 {border-style:solid; border-width:2px; border-color: #fff; padding:10px 17px; 
	font-family:'Source Sans Pro'; font-size:15px; font-weight:bold; color:#fff; text-transform:uppercase; border-radius:0;}
.button2:hover {color:#0000aa; background-color:white;}

.widget {
}

.footer1 {padding-right:30px;}
.footer2 {padding-right:30px;padding-left:30px;border-left-style:solid;
	border-width:1px;border-right-style:solid;border-color:silver;}
.footer3 {padding-left:30px;}

.widget a {
}

.comment {
	padding: 20px 0;
	margin: 20px 0;
	border-bottom: 1px solid #e8e8f0;
}

.comment-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.avatar {
	display: inline-flex;
	margin-right: 15px;
}

.says {
	display: none;
}

.comment-author {
	display: flex;
    align-items: center;
}

.comment-meta {
	display: flex;
	align-items: center;
}

.comment-metadata a {
	padding: 0 0 0 15px;
	color: #888;
	font-size: .9rem;
}

.reply a {
	color: #888;
	font-size: .9rem;
}
